{% extends 'base.html' %}

{% block title %} Home {% endblock title%}

{% block homeactive %} bg-primary {% endblock homeactive %}


{% block body %}
<div class="container bg-light text-dark">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome to our Resturant</h1>
        <p class="lead text-muted">A restaurant, or, more informally, an eatery, is a business that prepares and serves food and drinks to customers. Meals are generally served and eaten on the premises, but many restaurants also offer take-out and food delivery services.</p>
        <p>
          <a href="/blog" class="btn btn-primary my-2">Go to our Blog</a>
        </p>
      </div>
    </div>
</div>

<div class="container my-3">
<h2>Popular Blogs :</h2>
      <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
  
        </div>
      </div>
</div>

{% endblock body %}



